@font-face {
  font-family: "Geometria";
  font-weight: 400;
  src: url(./../../assets/font/geometria_medium.otf);
}
@font-face {
  font-family: "Geometria";
  font-weight: 300;
  src: url(./../../assets/font/geometria_light.otf);
}
@font-face {
  font-family: "Geometria";
  font-weight: 700;
  src: url(./../../assets/font/geometria_bold.otf);
}
