.advantage {
  background-color: $peach;

  &__container {
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    font-family: "Geometria";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    color: $peach-font;
  }
}

@include mobile-lg() {
  .advantage {
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    &__container {
      height: unset;
      flex-direction: column;
      gap: 10px;
    }
    &__item {
      width: 100%;
      padding: 20px 10px;
      background-color: $peach;
    }
  }
}
