.novetly {
  min-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__item {
    position: relative;
    height: 100%;
    max-height: 226px;
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: -1px;
    padding-bottom: -1px;
    margin: 0 50px;
    aspect-ratio: 4 / 3;
    transition: transform 0.3s;

    & > img {
      margin-top: -1px;
      margin-bottom: -1px;
      border-radius: 5px;
      width: 100%;
      height: calc(100% + 2px);
      object-fit: cover;
    }

    &-name {
      position: absolute;
      display: block;
      bottom: 10px;
      left: 0;
      right: 0;
      text-align: center;
      font-family: "Bonheur Royale";
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 42px;
      color: $green-600;
      opacity: 0;
      transition: opacity 0.3s;
    }
  }

  &__btn {
    margin-top: 30px;
  }

  &__slider {
    width: 100%;
    margin: 10px 0;
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 46px;
    position: relative;
    width: fit-content;
    margin: 0 auto;
  }

  /* Слайдер */
  .slick-slider {
  }
  /* Слайдер запущен */
  .slick-slider.slick-initialized {
  }
  /* Слайдер с точками */
  .slick-slider.slick-dotted {
  }
  /* Ограничивающая оболочка */
  .slick-list {
    overflow: hidden;
  }
  /* Лента слайдов */
  .slick-track {
    display: flex;
    align-items: center;
    height: 400px;
    min-width: 0;
  }
  /* Слайд */
  .slick-slide {
  }
  /* Слайд активный (показывается) */
  .slick-slide.slick-active {
  }
  /* Слайд основной */
  .slick-slide.slick-current {
  }
  /* Слайд по центру */
  .slick-slide.slick-center {
    transform: scale(1.35);

    & .novetly__item-name {
      opacity: 1;
    }
  }
  /* Клонированный слайд */
  .slick-slide.slick-cloned {
  }
  /* Стрелка */
  .slick-arrow {
    position: absolute;
    font-size: 0;
    width: 56px;
    height: 6px;
    outline: none;
    border: none;
    cursor: pointer;
    top: 50%;
    transform: translateX(-50%);
  }
  /* Стрелка влево */
  .slick-arrow.slick-prev {
    left: -40px;
    background: url(./../../assets/img/arrow-left.svg) 0 0 / 100% no-repeat;
  }
  /* Стрелка вправо */
  .slick-arrow.slick-next {
    right: -100px;
    background: url(./../../assets/img/arrow-right.svg) 0 0 / 100% no-repeat;
  }
  /* Стрелка не активная */
  .slick-arrow.slick-disabled {
  }
  /* Точки (булиты) */
  .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slick-dots li {
    list-style: none;
    margin: 0 4px;
  }
  /* Активная точка */
  .slick-dots li.slick-active button {
    opacity: 1;
  }
  /* Элемент точки */
  .slick-dots li button {
    font-size: 0;
    width: 13px;
    height: 13px;
    border: none;
    border-radius: 13px;
    background-color: $green-800;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity 0.3s;
  }
}

@include mobile-lg() {
  .novetly {
    &__item {
      margin-left: 10px;
      margin-right: 10px;
    }
    .slick-track {
    }
  }
}
