.review {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 300px;
    opacity: 0.8;
    transition: all 0.3s;
    background-color: $white;
    padding: 10px;
    margin: 0 50px;
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 11px;
  }

  &__user-avatar {
    width: 44px;
    height: 44px;
    border-radius: 44px;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__user-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &__user-name {
    font-family: "Cormorant";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
  }

  &__user-rating {
    display: flex;
    align-items: center;
    gap: 5px;
    color: $green-800;
  }
  &__text {
    font-family: "Cormorant";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    & > span {
      color: $green-400;
    }
  }

  &__btn {
    margin-top: 30px;
  }

  &__slider {
    width: 100%;
    margin: 10px 0;
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 46px;
    position: relative;
    width: fit-content;
    margin: 0 auto;
  }

  /* Слайдер */
  .slick-slider {
  }
  /* Слайдер запущен */
  .slick-slider.slick-initialized {
  }
  /* Слайдер с точками */
  .slick-slider.slick-dotted {
  }
  /* Ограничивающая оболочка */
  .slick-list {
    overflow: hidden;
  }
  /* Лента слайдов */
  .slick-track {
    display: flex;
    align-items: center;
    height: 300px;
    min-width: 0;
  }
  /* Слайд */
  .slick-slide {
  }
  /* Слайд активный (показывается) */
  .slick-slide.slick-active {
  }
  /* Слайд основной */
  .slick-slide.slick-current {
  }
  /* Слайд по центру */
  .slick-slide.slick-center {
    transform: scale(1.35);
    opacity: 1;
  }
  /* Клонированный слайд */
  .slick-slide.slick-cloned {
  }
  /* Стрелка */
  .slick-arrow {
    position: absolute;
    font-size: 0;
    width: 56px;
    height: 6px;
    outline: none;
    border: none;
    cursor: pointer;
    top: 50%;
    transform: translateX(-50%);
  }
  /* Стрелка влево */
  .slick-arrow.slick-prev {
    left: -40px;
    background: url(./../../assets/img/arrow-left.svg) 0 0 / 100% no-repeat;
  }
  /* Стрелка вправо */
  .slick-arrow.slick-next {
    right: -100px;
    background: url(./../../assets/img/arrow-right.svg) 0 0 / 100% no-repeat;
  }
  /* Стрелка не активная */
  .slick-arrow.slick-disabled {
  }
  /* Точки (булиты) */
  .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slick-dots li {
    list-style: none;
    margin: 0 4px;
  }
  /* Активная точка */
  .slick-dots li.slick-active button {
    opacity: 1;
  }
  /* Элемент точки */
  .slick-dots li button {
    font-size: 0;
    width: 13px;
    height: 13px;
    border: none;
    border-radius: 13px;
    background-color: $green-800;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity 0.3s;
  }
}

@include mobile-lg() {
  .review {
    &__item {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
